html,
body {
	background: var(--global-color-background);
	box-sizing: border-box;
	color: var(--global-color-font-bright);
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	user-select: none;
	width: 100%;
}

a,
.hyperlink {
	color: var(--global-color-gray-bb);
	cursor: pointer;

	&:hover,
	&.active {
		color: var(--global-color-font-bright);
	}
}

.clickable {
	cursor: pointer;
}

.wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
