/**
 * @author tknight-dev
 */

:root {
	--global-z-index-decision-background: 1100;
	--global-z-index-decision-foreground: 1200;
	--global-z-index-login-background: 900;
	--global-z-index-login-foreground: 1000;
	--global-z-index-modal-background: 500;
	--global-z-index-modal-foreground: 600;
	--global-z-index-spinner-background: 700;
	--global-z-index-spinner-foreground: 800;
}
