/**
 * @author tknight-dev
 */

/*
 * Global Imports
 */
// System
@import 'styles/system/color.scss';
@import 'styles/system/scrollbar.scss';
@import 'styles/system/z-index.scss';

// Base
@import 'styles/main.scss';

// Elements
@import 'styles/elements/inputs.scss';
@import 'styles/elements/modal.scss';
@import 'styles/elements/table.scss';

/*
 * Page
 */
$connect-header-connect-size-width: 100px;
$connect-header-height: 40px;
$connect-header-logo-width: 152px;

.connect {
	z-index: 1;

	.board {
		border: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
	}

	.board,
	.board-overlay,
	.gameover {
		bottom: 10px;
		top: $connect-header-height + 20px;
	}

	.board,
	.board-overlay,
	.gameover,
	.header {
		border-radius: 5px;
		left: 10px;
		position: absolute;
		right: 10px;
		z-index: 1;
	}

	.board-overlay {
		pointer-events: none;
		z-index: 2;

		&.dark {
			left: 15px;
			box-shadow: inset -5px -5px 5px 0 rgba(0, 0, 0, 0.25);
			top: $connect-header-height + 25px;
		}

		&.light {
			box-shadow: inset 5px 5px 5px 0 rgba(255, 255, 255, 0.1);
		}
	}

	.gameover {
		background-color: rgba(0, 0, 0, 0.1);
		display: none;
		overflow: hidden;
		z-index: 3;

		&.animation {
			background-color: transparent;
			z-index: 4;
		}

		&.draw {
			box-shadow: inset 0 0 10px 15px rgba(243, 218, 109, 0.25);
		}

		&.o {
			box-shadow: inset 0 0 10px 15px rgba(176, 42, 67, 0.25);
		}

		&.x {
			box-shadow: inset 0 0 10px 15px rgba(67, 176, 42, 0.25);
		}
	}

	.header {
		border: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
		height: $connect-header-height;
		top: 10px;
		z-index: 10;

		.connect-size {
			align-items: center;
			border-radius: 5px;
			border-right: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
			display: flex;
			justify-content: center;
			left: $connect-header-logo-width;
			width: $connect-header-connect-size-width;
		}

		.content {
			align-items: center;
			display: flex;
			justify-content: space-evenly;
			left: $connect-header-logo-width + $connect-header-connect-size-width + 10px;
			right: 0;
			z-index: 1;

			.menu {
				display: none;
			}

			.menu-item {
				display: block;
			}

			@media only screen and (max-width: 465px) {
				.menu {
					display: block;
				}

				.menu-item {
					display: none;
				}

				&.open {
					background-color: var(--global-color-modal-background);
					border: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
					border-top: none;
					border-radius: 5px;
					box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.25);
					height: auto;
					left: 0;
					padding-bottom: 20px;
					padding-top: $connect-header-height + 10px;

					.menu {
						display: none;
					}

					.menu-item {
						display: block;
					}
				}
			}
		}

		.connect-size,
		.content,
		.logo {
			height: 100%;
			position: absolute;
			top: 0;
		}

		.logo {
			background-color: rgba(0, 0, 0, 0.15);
			border-radius: 5px;
			border-right: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
			left: 0;
			width: $connect-header-logo-width;
			z-index: 2;

			.image {
				background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="750" height="200" version="1.1" viewBox="0 0 198.44 52.917" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="%23fffeec"><path d="m22.112 23.753v7.7353c0 0.53877 0.12507 0.93323 0.37522 1.1834 0.26939 0.2309 0.71195 0.34636 1.3277 0.34636h0.81776l1.5875 3.4058h-3.0691c-3.4058 0-5.1087-1.6548-5.1087-4.9644v-7.7064h-1.905v-3.3192h1.905v-3.9542h4.0697v3.9542h3.579v3.3192z"/><path d="m38.073 36.424-5.4262-6.8116v6.8116h-4.0408v-21.359h4.0408v12.151l5.3685-6.7828h5.253l-7.0425 8.0239 7.1003 7.9662z"/><path d="m54.323 20.203q2.8574 0 4.6181 1.8184 1.7606 1.7895 1.7606 5.0221v9.3804h-4.0408v-8.832q0-1.905-0.95248-2.9152-0.95248-1.0391-2.5977-1.0391-1.674 0-2.6554 1.0391-0.95248 1.0102-0.95248 2.9152v8.832h-4.0408v-15.99h4.0408v1.9915q0.80816-1.0391 2.0493-1.6163 1.27-0.60612 2.7708-0.60612z"/><path d="m68.61 20.318v15.99h-4.0408v-15.99z"/><path d="m66.589 18.42c-0.67907 0-1.248-0.21106-1.7068-0.63318-0.44048-0.44048-0.66071-0.98189-0.66071-1.6243 0-0.64236 0.22024-1.1746 0.66071-1.5967 0.45883-0.44048 1.0278-0.66071 1.7068-0.66071 0.67906 0 1.2388 0.22024 1.6793 0.66071 0.45883 0.42212 0.68824 0.95436 0.68824 1.5967 0 0.64236-0.22941 1.1838-0.68824 1.6243-0.44048 0.42212-1.0002 0.63318-1.6793 0.63318z"/><path d="m78.827 20.174c1.193 0 2.2417 0.24052 3.1461 0.72157 0.91248 0.44428 1.667 0.97312 2.1359 1.2892v-1.751h4.0697v16.105c0 1.4816-0.29825 2.7997-0.89475 3.9542-0.5965 1.1738-1.4912 2.0974-2.6842 2.7708-1.193 0.69271-2.6361 1.0391-4.3294 1.0391-2.2705 0-4.137-0.52915-5.5994-1.5875-1.4431-1.0583-2.2609-2.5015-2.4533-4.3294h4.0119c0.21166 0.73119 0.66385 1.3085 1.3566 1.7318 0.71195 0.44256 1.5682 0.66385 2.5688 0.66385 1.1738 0 2.1262-0.35598 2.8574-1.0679 0.73119-0.69271 1.0968-1.751 1.0968-3.1749v-1.953c-0.69733 0.7427-1.2643 0.92393-2.1879 1.4242-0.90437 0.50029-1.9202 0.67313-3.094 0.67313-1.3469 0-2.5784-0.34636-3.6945-1.0391-1.116-0.69271-2.0012-1.6644-2.6554-2.9152-0.63498-1.27-0.95248-2.7227-0.95248-4.3583 0-1.6163 0.31749-3.0498 0.95248-4.3006 0.65423-1.2507 1.5297-2.2128 2.6265-2.8863 1.116-0.67347 2.3571-1.0102 3.7233-1.0102zm5.2819 8.2548c0-0.98134-0.19242-1.8184-0.57726-2.5111-0.38484-0.71195-0.90437-1.2507-1.5586-1.6163-0.65423-0.38484-1.3566-0.57726-2.107-0.57726s-1.4431 0.1828-2.0781 0.5484c-0.63498 0.3656-1.1545 0.90437-1.5586 1.6163-0.38484 0.69271-0.57726 1.5201-0.57726 2.4822s0.19242 1.8087 0.57726 2.5399c0.40408 0.71195 0.92361 1.2603 1.5586 1.6452 0.65422 0.38484 1.3469 0.57726 2.0781 0.57726 0.75044 0 1.4528-0.1828 2.107-0.5484 0.65423-0.38484 1.1738-0.92361 1.5586-1.6163 0.38484-0.71195 0.57726-1.5586 0.57726-2.5399z"/><path d="m101.14 20.203q1.8184 0 3.2326 0.80816 1.4143 0.7793 2.1936 2.3379 0.80816 1.5297 0.80816 3.6945v9.3804h-4.0408v-8.832q0-1.905-0.95248-2.9152-0.95248-1.0391-2.5977-1.0391-1.674 0-2.6554 1.0391-0.95248 1.0102-0.95248 2.9152v8.832h-4.0408v-21.359h4.0408v7.36q0.7793-1.0391 2.0781-1.6163 1.2988-0.60612 2.8863-0.60612z"/><path d="m115.92 23.753v7.7353c0 0.53877 0.12507 0.93323 0.37522 1.1834 0.26938 0.2309 0.71195 0.34636 1.3277 0.34636h0.81776l1.5875 3.4058h-3.0691c-3.4058 0-5.1087-1.6548-5.1087-4.9644v-7.7064h-1.905v-3.3192h1.905v-3.9542h4.0697v3.9542h3.579v3.3192z"/><path d="m128.88 28.371c0-1.6163 0.31749-3.0498 0.95247-4.3006 0.65423-1.2507 1.5394-2.2128 2.6554-2.8863 1.116-0.67347 2.3571-1.0102 3.7233-1.0102 1.0391 0 2.03 0.2309 2.9729 0.69271 0.94285 0.44256 1.2791 0.67107 2.2513 1.2603v-7.0618h4.0985v21.359h-4.0985v-1.8376c-0.8566 0.61526-1.2026 0.89474-2.107 1.3758-0.90437 0.48105-1.9531 0.72157-3.1461 0.72157-1.3469 0-2.5784-0.34636-3.6944-1.0391-1.116-0.69271-2.0012-1.6644-2.6554-2.9152-0.63498-1.27-0.95247-2.7227-0.95247-4.3583zm12.584 0.05773c0-0.98134-0.19242-1.8184-0.57726-2.5111-0.38484-0.71195-0.90437-1.2507-1.5586-1.6163-0.65423-0.38484-1.3566-0.57726-2.107-0.57726-0.75043 0-1.4431 0.1828-2.0781 0.5484-0.63499 0.3656-1.1545 0.90437-1.5586 1.6163-0.38484 0.69271-0.57726 1.5201-0.57726 2.4822s0.19242 1.8087 0.57726 2.5399c0.40408 0.71195 0.92361 1.2603 1.5586 1.6452 0.65422 0.38484 1.3469 0.57726 2.0781 0.57726 0.75044 0 1.4528-0.1828 2.107-0.5484 0.65422-0.38484 1.1738-0.92361 1.5586-1.6163 0.38484-0.71195 0.57726-1.5586 0.57726-2.5399z"/><path d="m164.35 28.083c0 0.57726-0.0385 1.0968-0.11545 1.5586h-11.689c0.0962 1.1545 0.50029 2.0589 1.2122 2.7131s1.5875 0.98134 2.6265 0.98134c1.5009 0 2.5688-0.6446 3.2038-1.9338h4.3583c-0.46181 1.5394-1.3469 2.8093-2.6554 3.8099-1.3084 0.98134-2.9152 1.472-4.8201 1.472-1.5394 0-2.9248-0.33673-4.1563-1.0102-1.2122-0.69271-2.1647-1.6644-2.8574-2.9152-0.67347-1.2507-1.0102-2.6939-1.0102-4.3294 0-1.6548 0.33674-3.1076 1.0102-4.3583 0.67347-1.2507 1.6163-2.2128 2.8286-2.8863 1.2122-0.67347 2.6073-1.0102 4.1851-1.0102 1.5201 0 2.8767 0.32711 4.0697 0.98134 1.2122 0.65422 2.1455 1.5875 2.7997 2.7997 0.67347 1.193 1.0102 2.5688 1.0102 4.1274zm-4.1851-1.1545c-0.0193-1.0391-0.39448-1.8665-1.1256-2.4822-0.73119-0.63498-1.6259-0.95248-2.6842-0.95248-1.0006 0-1.8472 0.30787-2.5399 0.92361-0.67347 0.5965-1.0872 1.4334-1.2411 2.511z"/><path d="m173.96 32.701 4.0408-12.267h4.3006l-5.9169 15.99h-4.9067l-5.888-15.99h4.3294z"/><rect x="121.89" y="26.928" width="4.3834" height="2.7132"/></g></svg>')
					center no-repeat;
				background-size: cover;
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}
}

.modal-db {
	z-index: 2;

	.foreground {
		.container {
			width: 50% !important;
		}
	}
}

.modal-db,
.modal-db-progress,
.modal-decision,
.modal-settings {
	display: none;

	.foreground {
		.container {
			.body {
				height: 80vh;

				.bottom {
					background-color: rgba(0, 0, 0, 0.15);
					border-radius: 5px;
					border-top: 1px solid rgba(0, 0, 0, 0.5);
					bottom: 0;
					height: 80px;
				}

				.bottom,
				.top {
					left: 0;
					position: absolute;
					right: 0;
				}

				.top {
					bottom: 80px;
					overflow-x: hidden;
					overflow-y: auto;
					padding: 20px;
					@include scrollbar();
					top: 0;
				}
			}
		}
	}
}

.modal-db-progress {
	z-index: 3;

	.foreground {
		.container {
			.body {
				.top {
					.thread-progress-container {
						border: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
						border-radius: 5px;
						box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.25);
						height: 100px;
						position: relative;

						&:not(:first-child) {
							margin-top: 20px;
						}

						.container-left {
							align-items: center;
							background-color: rgba(0, 0, 0, 0.25);
							border-bottom: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
							border-radius: 5px;
							border-right: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
							bottom: -2px;
							display: flex;
							justify-content: center;
							left: 0;
							padding: 5px;
							position: absolute;
							width: 40px;
						}

						.container-left,
						.container-right {
							position: absolute;
							top: 0;
						}

						.container-right {
							background-color: rgba(0, 0, 0, 0.1);
							bottom: 0;
							box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.25);
							left: 40px;
							right: 0;

							.progress-bar {
								height: 50px;
								position: relative;

								.progress-container {
									background-color: rgba(0, 0, 0, 0.25);
									border: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
									border-radius: 5px;
									bottom: 0;
									left: 20px;
									overflow: hidden;
									position: absolute;
									right: 20px;
									top: 10px;

									.progress {
										border-radius: 5px;
										height: 100%;
										overflow: hidden;
										position: relative;
										transition: width 0.125s linear;
										width: 0%;
										min-width: 5px;
										max-width: 100%;

										.color {
											animation: rotating-color 1.5s linear infinite;
											bottom: 0;
											z-index: 1;
										}

										&.complete {
											.color {
												animation: no;
												background-color: rgba(0, 255, 255, 0.75);
											}
										}

										.color,
										.overlay {
											left: 0;
											position: absolute;
											right: 0;
											top: 0;
										}

										.overlay {
											background-color: rgba(255, 255, 255, 0.15);
											height: 5px;
											z-index: 2;
										}

										@keyframes rotating-color {
											0% {
												background-color: rgba(0, 255, 0, 0.75);
											}
											50% {
												background-color: rgba(0, 225, 0, 0.75);
											}
											100% {
												background-color: rgba(0, 255, 0, 0.75);
											}
										}
									}
								}
							}

							.progress-bar,
							.progress-text,
							.timing {
								position: relative;
							}

							.progress-text {
								height: 20px;
								text-align: center;
							}

							.timing {
								height: 30px;

								.left {
									left: 0;
								}

								.left,
								.right {
									align-items: center;
									bottom: 0;
									display: flex;
									justify-content: center;
									position: absolute;
									top: 0;
									width: 50%;
								}

								.right {
									right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

.modal-decision {
	position: fixed;
	z-index: var(--global-z-index-decision-background);

	.background {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.foreground {
		.container {
			height: 250px;
			width: 350px;

			.body {
				height: 190px;
			}
		}
	}
}

.modal-settings {
	display: none;
	z-index: 2;

	.foreground {
		.container {
			width: 50%;

			.body {
				height: 60vh;
			}
		}
	}
}

.modal-spinner {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity 0.125s linear;
	z-index: var(--global-z-index-spinner-background);

	.rotate {
		animation: rotating 1.5s linear infinite;
		font-size: 5em;
	}

	@keyframes rotating {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

.version {
	bottom: 0;
	display: block;
	font-size: 10px;
	position: absolute;
	right: 10px;
	z-index: 49;
}
